Repository bislara/adventurous-actions, pull requests merged in 2020-10, with the labels that each got.

#12 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: hacktoberfest-accepted

#11 Stale issue Problem
  .github/workflows/stale.yaml
  python/README.md
Labels: hacktoberfest-accepted, python

#9 Testing Auto Assign
  python/README.md
Labels: python
